.control-bar nav {
    cursor: pointer;
    margin: 0 .5rem ;
}

.control-bar nav:hover {
    background-color: #999;
}

.control-bar .collapsed {
    display: none;
}

.menu-list {
    background-color: #ddd;
}

.menu-item:hover {
    background-color: #999;
}
